*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

header{
    align-items: start;
    background: #fca43f00;
    display: block;
    align-items: center;
    background: url(extern-arch/portada.png);
    justify-content: center;
    height: 100vh;
}

header h1{
    font-size: 0.7rem;
    text-align: center;
    color: #ffffff;
}

.sub-header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-ham{
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.logo1 {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    width: 100%
}

.logo1 img{
    height: auto;
    max-width: 25%;
}

.productos{
    display: flex;
    height: 100vh;
    background: #ffffff;
    justify-content: center;
}


.slider-galeria {
    display: flex;
    height: 100vh;
    background: #fca43f;
    align-items: center;
    justify-content: center;

}

.chef{
    display: flex;
    height: 100vh;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

.texto{
    padding: 40px;
    text-align: center;
}

.contact{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

 .overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0px;
    overflow: auto;
    max-width: 1000px;
    max-height: 600px;
    width: 90%;
    position: relative;
}

.popup img{
    width: 100%;
    position: relative;
    left: 0;
}

.cart {
    padding: 30px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: #f44336;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.reopen-btn {
    position: fixed;
    right: 20px;
    bottom: 50px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #ffba6a;
}